html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    /*font-family: Montserrat;*/
}

/*
ul{
    font-size: 0;
    padding: 0;
    margin:0;
}
*/

ul {
    list-style-type: none;
}

li p {
    margin: 0;
    padding: 0;
}

.marker-icon {
    background-image: url("resources/placeholder.svg");
}

.filter-list a {
    font-size: 14px;
    margin-bottom: 10px;
    text-overflow: ellipsis;
}

.item-tags span {
    font-size: 11px;
    height: 20px;
    padding: 1 15px 0 15px;
    margin: 5px 0 15px 0px;
    width: auto;
}

.item-title button {
    width: 90px;
    height: 35px;
    padding: 0;
}

.item-title p {
    font-size: 18px;
    padding-top: 5px;
}

.item-desc {
    list-style-type: none;
    padding: 0;
    margin: 0;
    padding-top: 10px;
}

.item-desc a {
    padding-left: 7px;
    font-size: 14px;
}

.modal-lg {
    max-width: 80%;
}

.map-container {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.map-container iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    border-radius: 30px;
}

.bottom-container {
    height: 50%;
}

/* Table */
.my-custom-scrollbar {
    position: relative;
    overflow: auto;
}
.table-wrapper-scroll-y {
    display: block;
}

.homepage-container {
    background: url("./resources/home-bg.jpg");
    background-size: cover;
    overflow-x: hidden;
}

.home-title-wrapper {
    width: 100%;
    margin-top: 200px;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.md-form input:focus:not([readonly]) + label {
    color: #00bc00 !important;
}

.md-form input:focus:not([readonly]) {
    box-shadow: 0 1px 0 0 #00bc00 !important;
    border-bottom: 1px solid #00bc00 !important;
}

.swal-width-fix {
    width: 100% !important;
    max-width: 800px !important;
}

.form-box {
    width: 100%;
    height: 800px;
    position: relative;
    margin: 0 auto;
    padding: 5px;
}

.button-box {
    width: 225px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #7e7e7e1f;
    border-radius: 30px;
}

.toggle-btn {
    width: 110px;
    padding: 10px 20px;
    display: inline-block;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none !important;
    position: relative;
    color: #545454;
    transition: all 0.5s ease-in-out;
}

#btn-selected-indicator {
    width: 110px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #04aa3b;
    border-radius: 30px;
    transition: all 0.5s ease-in-out;
}

#login-toggle {
    color: white;
}

.form-container {
    width: 100%;
    height: 700px;
    margin-top: 30px;
    position: relative;
    overflow: hidden;
    font-family: "Montserrat";
}

.loading-spinner {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    display: none;
}

.input-form-wrapper {
    width: 100%;
    transition: all 0.5s ease-in-out;
    position: absolute;
}

.input-form-wrapper .md-form {
    margin: 1.5rem 3rem;
}

#login-form {
    top: 0;
    left: 0;
}

#register-form {
    top: 0;
    left: 100%;
}

.error-label {
    color: red;
    display: block;
    text-align: left;
    font-size: 0.7rem;
}

.bg-secondary {
    background-color: #6c757d !important;
}

.top-nav-selection {
    font-family: "Montserrat";
    font-size: 1rem;
    color: white !important;
    transition: all .5s ease-in-out;
}

.top-nav-selection:hover {
    color: #00c851 !important;
}

.not-logged-in-wrapper {
    display: none;
}

.logged-in-wrapper {
    display: none;
    justify-content: center;
    align-items: center;
}

#map-location-wrapper {
    width: 100%;
    height: 400px;
}

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 5;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

#location-result-box {
    width: 100%;
    max-height: 270px;
    overflow: auto;
    position: absolute;
    top: 5rem;
    z-index: 10;
    
}

.location-result {
    background-color: #fff;
    cursor: pointer;
    height: auto;
    padding-left: 40px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-bottom: 1px solid #edf2f7;
    color: #7a7e80;
}

.doorstep-distribute-additional-input {
    display: none;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
}

header.masthead {
  position: relative;
  background-color: #343a40;
  background: url("../img/bg-masthead.jpg") no-repeat center center;
  background-size: cover;
  padding-top: 8rem;
  padding-bottom: 8rem;
}

header.masthead .overlay {
  position: absolute;
  background-color: #212529;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.3;
}

header.masthead h1 {
  font-size: 2rem;
}

@media (min-width: 768px) {
  header.masthead {
    padding-top: 12rem;
    padding-bottom: 12rem;
  }
  header.masthead h1 {
    font-size: 3rem;
  }
}

.showcase .showcase-text {
  padding: 3rem;
}

.showcase .showcase-img {
  min-height: 30rem;
  background-size: cover;
}

@media (min-width: 768px) {
  .showcase .showcase-text {
    padding: 7rem;
  }
}

.features-icons {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.features-icons .features-icons-item {
  max-width: 20rem;
}

.features-icons .features-icons-item .features-icons-icon {
  height: 7rem;
}

.features-icons .features-icons-item .features-icons-icon i {
  font-size: 4.5rem;
}

.features-icons .features-icons-item:hover .features-icons-icon i {
  font-size: 5rem;
}

.testimonials {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.testimonials .testimonial-item {
  max-width: 18rem;
}

.testimonials .testimonial-item img {
  max-width: 12rem;
  box-shadow: 0px 5px 5px 0px #adb5bd;
}

.call-to-action {
  position: relative;
  background-color: #343a40;
  background: url("../img/bg-masthead.jpg") no-repeat center center;
  background-size: cover;
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.call-to-action .overlay {
  position: absolute;
  background-color: #212529;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.3;
}

footer.footer {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.faqHeader {
    font-size: 27px;
    margin: 20px;
}

.panel-heading [data-toggle="collapse"]:after {
    font-family: 'Glyphicons Halflings';
    content: "e072"; /* "play" icon */
    float: right;
    color: #F58723;
    font-size: 18px;
    line-height: 22px;
    /* rotate "play" icon from > (right arrow) to down arrow */
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.panel-heading [data-toggle="collapse"].collapsed:after {
    /* rotate "play" icon from > (right arrow) to ^ (up arrow) */
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    color: #454444;
}

.panel-heading .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\e114";    /* adjust as needed, taken from bootstrap.css */
    float: right;        /* adjust as needed */
    color: grey;         /* adjust as needed */
}
.panel-heading .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e080";    /* adjust as needed, taken from bootstrap.css */
}